<div id="clique_ordersummary" class="wrapper">
  <!--Back-->
  <!-- <a ui-sref="main">Back</a> -->
  
  <!--Amount-->
  <div class="summaryordertotal">
    <label class="inputlabel">
      <img alt="Bowtie" src="images/bowtie.png" />
    </label>
    <div class="rightColumn helveticaText">
      Send this gift of <span class="bold">${{ formData.Amount }}</span>
    </div>
  </div>
  
  <!--To-->
  <div class="summaryto">
    <label class="inputlabel">To</label>
    <div class="heart rightColumn">
      {{ formData.To }}
    </div>
  </div>
  
  <!--Phone Number-->
  <div id="clique_phonenumber" ng-class="{nextInput: !dirty.PhoneNumber}">
    <label class="inputlabel" for="clique_input_phonenumber">
      <img class="phonenumber" alt="Enter Phone Number" src="images/phone.png" />
    </label>
    <input type="text" id="clique_input_phonenumber" class="helveticaInput rightColumn phone_number" pattern="\d*" placeholder="(XXX) XXX-XXXX" maxlength="14" ng-model="formData.PhoneNumber" autofocus required>
  </div>
  
  <!--From-->
  <div>
    <label class="inputlabel">From</label>
    <div class="heart rightColumn">
      {{ formData.From }}
    </div>
  </div>
  
  <!--Send Receipt To-->
  <div>
    <label class="inputlabel">&nbsp;</label>
    <div class="rightColumn helveticaText">Send receipt to</div>
  </div>
  
  <!--Email-->
  <div id="clique_email" ng-class="{nextInput: !dirty.Email}">
    <label class="inputlabel">
      <img alt="Enter Email Address" src="images/emailsign_blk.png" />
    </label>
    <input type="email" id="clique_input_email" class="rightColumn helveticaInput" placeholder="you@email.com" ng-model="formData.Email">
  </div>
  
  <!--Schedule Gift-->
  <div>
    <a ui-sref="final" ng-show="dirty.Email">
      <button class="proceed_button" ng-click="processForm()" ng-disabled="!reviewValid || !mainValid">Schedule Order</button>
    </a>
  </div>
</div>