<div class="wrapper">
  <!--Logo-->
  <img class="clique_logo" src="images/logo-local-gift-card-blk.png">
  
  <!--To-->
  <div id="clique_to">
    <label for="To" class="inputlabel">To</label>
    <input type="text" id="To" class="heart rightColumn" name="To" placeholder="First Name" maxlength="16" ng-model="formData.To" required>
  </div>

  <!--From-->
  <div id="clique_from">
    <label for="From" class="inputlabel">From</label>
    <input type="text" id="From" class="heart rightColumn" name="From" placeholder="Your Name" maxlength="16" ng-model="formData.From" required>
  </div>

  <!--Amount-->
  <div id="clique_amt_selection">
    <span class="leftarrow"></span>
    <div id="clique_amt_scrollwindow">
      <span ng-repeat="price in prices" class="price" ng-class="{active: isAmount(price)}" ng-click="setAmount(price)">${{price}}</span>
    </div>
    <span class="rightarrow"></span>
  </div>
  
  <div id="clique_amt">
    <label class="inputlabel">$</label>
    <div class="rightColumn helveticaInput">{{formData.Amount}}</div>
  </div>

  <!--Code-->
  <div id="flip_container">
    <div class="dummy"></div>
    <div id="front" class="card"></div>
    <div id="back" class="card">
      <div class="profont blackstrip">XXXXX</div>
      <img src="images/circle-outline.png" alt="Clique Code Outline">
    </div>
  </div>

  <div id="clique_code" ng-click="flipCard()">
    <label for="Code" class="inputlabel">Code</label>
    <input type="text" id="Code" class="profont number rightColumn" data-formance_length=5 name="Code" pattern="\d*" maxlength="5" placeholder="XXXXX" ng-model="formData.Code" ng-change="getStoreName()" required>
    <img class="checkmark" src="images/checkmark-blk.png">
  </div>
  
  <div id="clique_code_message">
    <label class="inputlabel">
      <img src="images/at-icon-blk.png">
    </label>
    <div class="helveticaText rightColumn">
      Good at <span class="bold">{{storeName}}</span>
      <span class="italicMessage">and participating merchants</span>
    </div>
  </div>
  
  <!--Occasion-->
  <div id="clique_occasion_selection">
    <ul>
      <li ng-repeat="occasion in occasions" ng-click="setOccasion(occasion)"><img ng-src="{{occasion.images.normal}}">{{occasion.alt}}</li>
    </ul>
  </div>
  
  <div id="clique_occasion">
    <label for="clique_input_occasion" class="inputlabel">
      <img ng-src="{{occasions.selectedImg}}">
    </label>
    <div id="clique_input_occasion_wrapper" class="rightColumn">
      <textarea id="clique_input_occasion" maxlength="100" ng-keypress="limitOccText()" ng-keyup="limitOccText()" ng-model="formData.Occasion" required></textarea>
      <span id="occCharCount">{{occasions.charsLeft}} characters left</span>
    </div>
    <!--note: <textarea maxlength="100"> is only supported in HTML 5-->
  </div>

  <!--Date-->
  <div id="clique_senddate_selection">
    <label class="inputlabel">Send</label>
    <div id="dateImages" class="rightColumn">
      <div id="sendToday" ng-click="setDateType('today')">
        <img id="sendTodayImg" src="images/send-today-wht.png" alt="Send Today">
        Today
      </div>
      <div id="sendOnDate" ng-click="setDateType('choose')">
        <img id="sendOnDateImg" src="images/send-on-date-wht.png" alt="Choose a Date">
        On date
      </div>
    </div>
  </div>
  
  <div id="clique_senddate">
    <label class="inputlabel">
      <img ng-src="{{dateTypeImg}}" alt="Chosen Date">
    </label>
    <input id="datepicker" class="rightColumn" pick-a-date="" required>
  </div>
  
  <!--Payment Type-->
<!--   <div id="clique_paymenttype" class="hide nextinput textinput">
    <span style="width:53%;" class="inputlabel">Check or Card?</span>
    <img class="paybycheck" alt="Pay by Check" src="images/paybycheck.png" />
    <img class="paybycard" alt="Pay by Card" src="images/paybycard.png" style="margin-left:5px;" />
  </div> -->
  
    <!-- *** The pay by check section is not functional yet *** -->
<!--   <div id="clique_paymenttypeselectedcheck" class="hide nextinput textinput">
      <div class="accountnumbercontainer paymenttypecontainer textinput currentinput">
          <img class="accountnumber" alt="Pay by Check" src="images/paybycheck.png" />
          <input type="text" id="clique_input_accountnumber" class="textinput hide" style="width:100%;" value="mm/dd/yyyy" />
      </div>
      <div class="routingnumbercontainer paymenttypecontainer">
          <img class="routingnumber" alt="Pay by Card" src="images/paybycheck.png" style="margin-left:5px;" />
          <input type="text" id="clique_input_routingnumber" class="textinput hide" style="width:100%;" value="mm/dd/yyyy" />
      </div>
  </div> -->
  
  <!--Pay by card-->
  <div id="clique_payment_card" class="">
    <div id="creditcardnumbercontainer" class="paymentcontainer">
      <img id="creditcardimg" ng-src="{{cardTypeImg}}">
      <input type="text" id="clique_input_creditcardnumber" class="profont checkinput credit_card_number" ng-model="formData.CreditCardNumber" ng-change="updateCreditCardImg()" placeholder="XXXX XXXX XXXX XXXX" size="19" pattern="\d*" required>
      <img class="checkmark" src="images/checkmark-blk.png">
    </div>
    <div id="creditcardinfo" class="paymentcontainer">
      <input type="text" id="expiredate" class="profont clique_input_expiredate credit_card_expiry" ng-model="Expiry" ng-change="setExpireMonthAndYear()" placeholder="MM / YYYY" maxlength="9" size="9" required>
      <input type="text" id="cvv" class="profont clique_input_expiredate credit_card_cvc" ng-model="formData.CVV" placeholder="CVV" pattern="\d*" maxlength="4" size="4" required>
      <input type="text" id="zip" class="profont clique_input_expiredate number" data-formance_length=5 ng-model="formData.ZipCode" placeholder="ZIP" pattern="\d*" maxlength="5" size="5" required>
      <img class="checkmark" src="images/checkmark-blk.png">
    </div>
  </div>
  
  <!--Go to Review Order-->
  <div id="clique_revieworder" class="hide">
    <a class="proceed_button" ui-sref="review">Continue</a>
  </div>
</div>