<div class="wrapper" id="clique_section">
  <!--Logo-->
  <div id="clique_logo">
    <span class="first">The</span>
    <div class="heart">Local</div>
    <span class="last">Gift Card</span>
  </div>
  <div class="clear"></div>

  <!--To-->
  <div id="clique_to">
    <label for="To" class="inputlabel">To</label>
    <input type="text" id="To" class="heart" name="To" placeholder="First Name" ng-model="formData.To" required>
  </div>

  <!--From-->
  <div id="clique_from">
    <label for="From" class="inputlabel">From</label>
    <input type="text" id="From" class="heart" name="From" placeholder="Your Name" ng-model="formData.From" required>
  </div>

  <!--Amount-->
  <div id="clique_amt">
    
    <div id="clique_amt_scrollwindow">
      <span class="leftarrow hide"></span>
        <span ng-repeat="price in prices" class="price" ng-class="{active: isAmount(price)}" ng-click="setAmount(price)">${{price}}</span>
      <span class="rightarrow hide"></span>
    </div>
    
  </div>
  <div class="clear"></div>

  <!--Code-->
  <div id="clique_code">
    <label for="Code" class="inputlabel">Code</label>
    <input type="text" id="Code" class="heart" name="Code" placeholder="XXXXXX" ng-model="formData.Code" required>
  </div>

  <!--Occasion-->
  <div>
    <div id="clique_occasion_selection">
      <div style="float:left">
        <div ng-repeat="occasion in occasions.left_column">
          <img ng-src="{{occasion.images.normal}}" ng-click="setOccasion(occasion)">
        </div>
      </div>
      <div style="float:left">
        <div ng-repeat="occasion in occasions.right_column">
          <img ng-src="{{occasion.images.normal}}" ng-click="setOccasion(occasion)">
        </div>
      </div>
      <div class="clear"></div>
    </div>
    
    <div id="clique_occasion">
      <div>{{occasions.charsLeft}}</div>
      <textarea id="clique_input_occasion" maxlength="100" ng-keypress="limitOccText()" ng-keyup="limitOccText()" ng-model="formData.Occasion" required></textarea>
      <!--note: <textarea maxlength="100"> is only supported in HTML 5-->
      <input type="hidden" id="occasion_icon" ng-model="formData.Icon" required>
    </div>
  </div>

  <!--Date-->
  <div id="clique_senddate">
    <div>
      <label>Send</label>
      <img src="../public/demo23_files/send_today_blk.png" alt="Chosen Date">
      <img src="../public/demo23_files/send_on_date_blk.png" alt="Chosen Date">
    </div>
    <div>
      <div>
        <img id="setTodayImg" src="../public/demo23_files/sendtoday.png" alt="Send Today">
        <img id="setOnDateImg" src="../public/demo23_files/sendondate.png" alt="Choose a Date">
      </div>
      <input id="datepicker" pick-a-date="" ng-model="formData.Date" required>
      <span>Send on {{formattedDate}}</span>
    </div>
  </div>
  
  <!--Payment Type-->
<!--   <div id="clique_paymenttype" class="hide nextinput textinput">
    <span style="width:53%;" class="inputlabel">Check or Card?</span>
    <img class="paybycheck" alt="Pay by Check" src="../public/demo23_files/paybycheck.png" />
    <img class="paybycard" alt="Pay by Card" src="../public/demo23_files/paybycard.png" style="margin-left:5px;" />
  </div> -->
  
    <!-- *** The pay by check section is not functional yet *** -->
<!--   <div id="clique_paymenttypeselectedcheck" class="hide nextinput textinput">
      <div class="accountnumbercontainer paymenttypecontainer textinput currentinput">
          <img class="accountnumber" alt="Pay by Check" src="../public/demo23_files/paybycheck.png" />
          <input type="text" id="clique_input_accountnumber" class="textinput hide" style="width:100%;" value="mm/dd/yyyy" />
      </div>
      <div class="routingnumbercontainer paymenttypecontainer">
          <img class="routingnumber" alt="Pay by Card" src="../public/demo23_files/paybycheck.png" style="margin-left:5px;" />
          <input type="text" id="clique_input_routingnumber" class="textinput hide" style="width:100%;" value="mm/dd/yyyy" />
      </div>
  </div> -->
  
  <!--Pay by card-->
  <div id="clique_paymenttypeselectedcard" class="hide nextinput textinput">
    <div class="creditcardnumbercontainer paymenttypecontainer textinput currentinput">
      <span class="inputlabel">
        <img class="creditcardnumber" alt="Pay by Check" src="../public/demo23_files/paybycard_black.png">
      </span>
      <input type="text" pattern="\d*" id="clique_input_creditcardnumber" ng-model="formData.CreditCardNumber" placeholder="XXXX XXXX XXXX XXXX">
    </div>
    <div class="expiredatecontainer paymenttypecontainer textinput currentinput" style="height:44px;">
      <input type="text" pattern="\d*" id="expiredate_month" ng-model="formData.ExpireMonth" placeholder="MM" required>
      <input type="text" pattern="\d*" id="expiredate_year" ng-model="formData.ExpireYear" placeholder="YY" required>
      <input type="text" pattern="\d*" id="expiredate_cvv" ng-model="formData.ExpireCVV" placeholder="CVV" required>
      <input type="text" pattern="\d*" id="expiredate_zip" ng-model="formData.ZipCode" placeholder="ZIPCODE" required>
    </div>
  </div>
  
  <!--Go to Review Order-->
  <div id="clique_revieworder" class="hide">
    <img class="cliquelogo" alt="Clique Logo" src="../public/demo23_files/clique.png">
    <a ui-sref="review">
      <img class="revieworder" alt="Review Order" src="../public/demo23_files/revieworder.png">
    </a>
  </div>
</div>