<div id="clique_ordersummary" class="wrapper">
  <!--Back-->
  <a ui-sref="main">Back</a>
  
  <!--Amount-->
  <div class="summaryordertotal">
    <label class="inputlabel">
      <img alt="Bowtie" src="images/bowtie.png" />
    </label>
    <div class="rightColumn helveticaText">
      Send this gift of <span class="bold">${{ formData.Amount }}</span>
    </div>
  </div>
  
  <!--To-->
  <div class="summaryto">
    <label class="inputlabel">To</label>
    <div class="heart rightColumn">
      {{ formData.To }}
    </div>
  </div>
  
  <!--Phone Number-->
  <div class="summaryphonenumber currentinput textinput">
    <label class="inputlabel" for="clique_input_phonenumber">
      <img class="phonenumber" alt="Enter Phone Number" src="images/phone.png" />
    </label>
    <input type="text" id="clique_input_phonenumber" class="helveticaInput rightColumn phone_number" pattern="\d*" placeholder="(XXX) XXX-XXXX" ng-model="formData.PhoneNumber">
  </div>
  
  <!--From-->
  <div class="summaryfrom">
    <label class="inputlabel">From</label>
    <div class="heart rightColumn">
      {{ formData.From }}
    </div>
  </div>
  
  <!--Send Receipt To-->
  <div class="summaryreceipt">
    <label class="inputlabel">&nbsp;</label>
    <div class="rightColumn helveticaText receiptmsg">Send receipt to</div>
  </div>
  
  <!--Email-->
  <div class="summaryemail">
    <label class="inputlabel">
      <img class="emailsign" alt="Enter Email Address" src="images/emailsign.png" />
    </label>
    <input id="clique_input_email" class="rightColumn helveticaInput" type="email" ng-model="formData.Email" placeholder="you@email.com">
  </div>
  
  <div id="clique_revieworder" class="hide">
    <a class="proceed_button" ui-sref="final">Schedule Order</a>
  </div>
  
  <!--Schedule Gift-->
<!--   <div id="clique_schedulegift" class="hide">
    <img class="cliquelogo" alt="Clique Logo" src="images/clique.png" />
    <a ui-sref="final">
      <img class="scheduleorder" alt="Schedule Order" ng-click="processForm()" src="images/scheduleorder.png"/>
    </a>
  </div> -->
  
  <!--Clique Logo-->
<!--   <div id="clique_logo">
    <span class="first">The</span>
    <div class="heart">Local</div>
    <span class="last">Gift Card</span>
  </div> -->
</div>