<div id="clique_ordersummary">
  <!--Back-->
  <a ui-sref="main">Back</a>
  
  <!--Amount-->
  <div class="summaryordertotal">
    <span class="inputlabel">
      <img alt="Bowtie" src="../public/demo23_files/bowtie.png" />
    </span>
    Send this gift of ${{ formData.Amount }}
  </div>
  
  <!--To-->
  <div class="summaryto">
    <span class="inputlabel">To</span>{{ formData.To }}
  </div>
  
  <!--Phone Number-->
  <div class="summaryphonenumber currentinput textinput">
    <span class="inputlabel">
      <img class="phonenumber" alt="Enter Phone Number" src="../public/demo23_files/phone.png" />
    </span>
    <input id="clique_input_phonenumber" pattern="\d*" ng-model="formData.PhoneNumber" placeholder="(XXX) XXX-XXX" />
  </div>
  
  <!--From-->
  <div class="summaryfrom">
    <span class="inputlabel">From</span>{{ formData.From }}
  </div>
  
  <!--Send Receipt To-->
  <div class="summaryreceipt">
    <span class="inputlabel"></span>
    <span class="receiptmsg">Send receipt to</span>
  </div>
  
  <!--Email-->
  <div class="summaryemail textinput nextinput">
    <span class="inputlabel">
      <img class="emailsign" alt="Enter Email Address" src="../public/demo23_files/emailsign.png" />
    </span>
    <input id="clique_input_email" class="heart textinput" ng-model="formData.Email" placeholder="you@email.com" />
  </div>
  
  <!--Schedule Gift-->
  <div id="clique_schedulegift" class="hide">
    <img class="cliquelogo" alt="Clique Logo" src="../public/demo23_files/clique.png" />
    <a ui-sref="final">
      <img class="scheduleorder" alt="Schedule Order" ng-click="processForm()" src="../public/demo23_files/scheduleorder.png"/>
    </a>
  </div>
  
  <!--Clique Logo-->
  <div id="clique_logo">
    <span class="first">The</span>
    <div class="heart">Local</div>
    <span class="last">Gift Card</span>
  </div>
</div>